<div class= "nested-fields">
      <div class="fields">
            <%= f.label :color %>
            <%= f.text_field :color %>
            <%=f.label :size %>
            <%=f.text_field :size%>
            
            <%= link_to_remove_association "Remove", f %>
      </div>
</div>
